<!DOCTYPE html>
<html>
  <head>
<title>Your Personal News Aggregator</title>
  <!-- <link rel="stylesheet" type="text/css" href="/news_ag.css"> -->
  </head>
	<body>
		  <h1>Find a Good Read? Save It Here!</h1>

	    <form action="/articles" method="post">
	      <label for=article>Article Title:</label>
	      <input type="text" id="article" name="Title" required>
	      <label for=article>URL:</label>
	      <input type="url" id="article" name="URL" required>
				<label for=article>Description:</label>
	      <input type="text" id="article" name="Description" required>

	      <input type="submit" id="submit" value = "Submit"/>

	    </form>
	  </body>
	</html>
